.item-header-tab {
    color: rgba(255, 255, 255, 0.4) !important;
    font-family: IBM Plex Mono !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    width: 12% !important;
}

.Mui-selected {
    color: var(--d-9-d-9-d-9, #d9d9d9) !important;
}

.css-1gsv261 {
    border-bottom: 1px solid var(--gray, #363636) !important;
}

.header-table-position {
    display: flex;
    align-items: center;
    .header-title-position {
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex: 1;
    }
}

.header-table-position-2 {
    // padding: 11px 0;
    .header-title-position {
        font-size: 12px !important;
    }
}

.header-title-position {
    .token-positon {
        color: var(--primary-color, #6763e3);
        font-family: IBM Plex Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }

    .size-position {
        margin: 0;
    }

    .net-value-top {
        margin: 0;
    }

    .long-shot-position {
        color: var(--green, #19ab72);
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .net-value-bottom {
        color: var(--red, #971727);
        font-family: IBM Plex Mono;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
    }

    .liquidation-price-position {
        color: var(--primary-color, #6763e3);
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.container-positon-panel {
    background:  #0F091E;
    height: 100%;
    .css-19kzrtu {
        padding: 0;
    }
}

.padding-for-header-table {
    padding: 6px 24px;
    margin: 0 5px;
}

.padding-for-body-table {
    padding: 0px 24px;
    margin: 0 5px;

    &.active {
        background: var(--navbar, #231844);
    }
}
