.container-referer {
    padding: 0px 210px;
    padding-top: 127px;
}

.add-info-referer-container {
    .header-title-referal {
        color: var(--white, #fff);
        font-family: Jockey One;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}

.insert-referer-box {
    border-radius: 5px;
    background: rgba(54, 54, 54, 0.5);
    width: 666px;
    margin: auto;
    padding: 0 65px;
    padding-top: 12px;
    padding-bottom: 23px;

    .title-insert-referer {
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .input-referer {
        border-radius: 10px;
        background: #172132;
        width: 535px;
        height: 49px;
        color: #fff;
    }

    .agree-btn-referer {
        width: 257px;
        height: 37px;
        border-radius: 10px;
        background: var(--primary-color, #6763e3);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 28px;
    }
}

.btn-confirm-referer {
    text-align: center;
}

.referral-wallet-container {
    width: 666px;
    padding: 0 22px;
    border-radius: 10px;
    border: 1px solid var(--primary-color, #6763e3);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .agree-copy-referral {
        border-radius: 10px;
        background: var(--primary-color, #6763e3);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.guides-container {
    color: var(--white, #fff);
    font-family: Jockey One;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.guide-box-container {
    margin-right: 125px;
}

.box-square {
    width: 308px;
    height: 255px;
    border-radius: 5px;
    background: rgba(54, 54, 54, 0.5);
    position: relative;
    z-index: 1;

    .img-step {
        text-align: center;

        img {
            margin-top: 35px;
        }
    }

    .step-content {
        margin-left: 20px;
    }

    // .box-right-square {
    //     width: 62px;
    //     height: 43px;
    //     flex-shrink: 0;
    //     background: rgba(54, 54, 54, 0.5);
    //     position: absolute;
    //     right: -62px;
    //     bottom: 100px;
    //     z-index: 0;

    //     .image-arrow {
    //         position: absolute;
    //         right: -33px;
    //         top: -12px;
    //     }
    // }
    .box-right-square-img {
        position: absolute;
        right: -95px;
        top: 85px;
        bottom: 0;
    }
}

.guides-container-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guides-container {
    margin-left: 96px;
}

.referral-table-container {
    width: 626px;
    background: rgba(54, 54, 54, 0.5);
    margin: auto;
    min-height: 300px;
    margin-bottom: 30px;
}

.table-info-referral-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 626px;
    background: rgba(54, 54, 54, 0.5);
    margin: auto;
    margin-top: 40px;
    border-bottom: 1px solid #363636;

    .left-header {
        flex: 1;
        border-right: 1px solid #363636;
        text-align: center;
    }

    .right-header {
        flex: 1;
        text-align: center;
    }
}

.table-info-detail-container {
    margin: 20px;
}

.title-head {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.6);
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.amount {
    margin-top: 4px;
    color: var(--white, #fff);
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-table-detail {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px 15px 0px 0px;
    background: var(--nav-dark-blue, #0f091e);
    padding: 10px 0px;
}

.body-table-detail-referral {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
}

.title-table-info-referral {
    flex: 1;
    text-align: center;
}

.body-tb-referral {
    background: rgba(54, 54, 54, 0.6);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 20px;
}

.paging-referral {
    padding-bottom: 20px;

    ul {
        justify-content: center;

        li {

            button {
                color: #000;
                text-align: center;
                font-family: IBM Plex Mono;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: var(--primary-color, #6763e3);
            }
        }
    }
}

.your-referral-reward {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--primary-color, #6763e3);
    width: 626px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 0px 16px;
}

.amount-reward-container {
    display: flex;
    align-items: center;

    .amount-reward {
        margin-right: 10px;
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .claim-referral {
        border-radius: 10px;
        background: var(--primary-color, #6763e3);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.btn-confirm-referer {
    button {
        color: #fff !important;
        font-family: IBM Plex Mono;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 100%;
        padding: 4px 0px;
        border-radius: 10px;
        background: var(--primary-color, #6763e3);
    }

    .css-1e6y48t-MuiButtonBase-root-MuiButton-root.Mui-disabled {
        background: #2a2a38;
    }
}

.guide-container-referral {
    margin-bottom: 40px;
}

.show-info-referral {
    margin: 16px 0px;
    text-align: center;

    .click-referral {
        display: inline-block;
        padding: 10px 6px;
        border-radius: 10px;
        background: var(--primary-color, #6763e3);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 38px;
        cursor: pointer;
    }
}