.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.left-content-container {
    flex: 2;
}

.right-content-container {
    flex: 1;
    border: 1px solid #000;
    background: rgba(54, 54, 54, 0.5);
    margin-left: 20px;
    padding: 30px 15px 18px;
    height: fit-content;
}

.top-left-content-container {
    display: flex;
    align-items: start;
    padding: 10px;
    min-height: 400px;
    justify-content: space-between;
    background: rgba(54, 54, 54, 0.5);
}

.bottom-left-content-container {
    margin-top: 20px;
    padding: 10px;
    background: rgba(54, 54, 54, 0.5);
    min-height: 200px;
}

.left-swap-icon-container {
    display: flex;
    align-items: center;

    .image-icon {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }

    .detail-icon {
        display: flex;
        align-items: center;
        p {
            margin-right: 5px;
            font-size: 14px;
        }
    }
}

.right-time-select {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--gray, #363636);
    cursor: pointer;
    .time-select {
        padding: 6px;
        user-select: none;
    }

    .is-active {
        border-radius: 5px;
        background: #0c0b0b;
    }
}

.header-table {
    background: var(--gray, #363636);
    display: flex;
    align-items: center;
    padding: 6px 0px;

    .table-head {
        flex: 1;
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}

.content-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .balance {
        color: rgba(255, 255, 255, 0.6);
        font-family: IBM Plex Mono;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}


.content-detail-first {
    margin-top: 20px;
}

.content-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-detail {
        margin-top: 0;
        color: rgba(255, 255, 255, 0.8);
        font-family: IBM Plex Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .info-detail {
        margin-top: 0;
        color: var(--white, #fff);
        font-family: IBM Plex Mono;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.icon-swap {
    text-align: center;
}

.from-container-1 {
    margin-bottom: 20px;
}

.from-container {
    .content-right-header2 {
        p {
            margin-top: 0px;
        }
    }
}