.leader-board-container {
    padding: 120px 0px;
    width: 1000px;
    margin: auto;
}

.trader-position-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    .trader-tab {
        padding: 8px 95px;
        border-radius: 0px 10px 10px 0px;
        background: rgba(15, 9, 30, 0.93);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

        &.active {
            background: var(--primary-color, #6763e3);
            border-radius: 10px;
        }
    }

    .position-tab {
        padding: 8px 95px;
        border-radius: 0px 10px 10px 0px;
        background: rgba(15, 9, 30, 0.93);
        color: var(--d-9-d-9-d-9, #d9d9d9);
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;

        &.active {
            background: var(--primary-color, #6763e3);
            border-radius: 10px;
        }
    }
}

.title-time-leader-board {
    margin-top: 44px;

    .title-leader-board {
        color: var(--white, #fff);
        font-family: Jockey One;
        font-size: 34px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.time-leader-board {
    display: flex;
    align-items: center;

    .time-select-board {
        padding: 7px 18px;
        color: var(--d-9-d-9-d-9, #d9d9d9);
        text-align: center;
        font-family: IBM Plex Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: rgba(15, 9, 30, 0.93);
        cursor: pointer;

        &.active {
            background: var(--primary-color, #6763e3);
            border-radius: 10px;
        }
    }
}

.header-table-leader-board {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    border-radius: 15px 15px 0px 0px;
    background: var(--nav-dark-blue, #0f091e);
    margin-top: 30px;

    .item-header-leader-board {
        flex: 1;
        color: var(--xm, rgba(255, 255, 255, 0.7));
        font-family: IBM Plex Mono;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.body-table-leader-board {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2px 0;

    &.active {
        background-color: rgba(201, 201, 201, 0.1);
    }

    .item-body-leader-board {
        flex: 1;

        .info-table-leader-board {
            color: var(--white, #fff);
            font-family: IBM Plex Mono;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .wallet-body-info {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-right: 5px;
        }
    }
}

.body-table-leader-board-container {
    background: rgba(54, 54, 54, 0.6);
    min-height: 600px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.leader-board-bg {
    background: linear-gradient(to right, #000000, #2c1556, #000000);
}

.rotate-on-click {
    transition: transform 0.3s; /* Hiệu ứng xoay mượt mà trong 0.3 giây */
}

/* Thêm kiểu xoay cho hình ảnh khi có lớp "rotated" */
.rotated {
    transform: rotate(180deg);
}

.item-header-leader-board {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        cursor: pointer;
        margin-left: 4px;
    }
}
