.MuiBox-root.css-1izfg5m {
    width: auto;
}

button#full-width-tab-0,button#full-width-tab-1 {
    flex: 1;
    color: var(--primary-color, #6763E3);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.css-11yukd5-MuiTabs-indicator {
    background-color: unset !important;
}

// button:not([disabled]) {
//     background-color: #0f091e !important;
//     opacity: 1;
// }

.MuiBox-root.css-19kzrtu {
    // background-color: #29292c;
}

.css-cjctlb-MuiButtonBase-root-MuiTab-root.Mui-selected {
    background-color: #29292c !important;
}

.fJUfJj {
    border-top: unset;
}

.order-price-title {
    display: flex;
    align-items: center;
}

.diRodp  {
    display: block !important;
    flex: 1;
}

.dropdown-price {
    display: flex;
    align-items: center;
}

div#full-width-tabpanel-0 {
    min-height: 1000px;
}

div#full-width-tabpanel-1 {
    min-height: 1000px;
}

.tab-trading:not([disabled]) {
    background: var(--nav-dark-blue, #0F091E);
    opacity: 1;
}